---
layout: default
lat: 36.812917
lng: -94.896339
zoom: 7
---
<script type="text/javascript">
  $(function() {
    mapInit();
    {% for post in site.posts %}
      {% if post.lat and post.lng %}
      placeClub("{{ post.title }}", {{ post.lat }}, {{ post.lng }}, "{{ post.location }}", "{{ post.url }}");
      {% endif %}
    {% endfor %}
  });
</script>

<div class="row">
  <p class="show-on-phones"><a href="#list">Show club list...</a></p>
  <div id="map_canvas"></div>
</div>

<div class="row" id="list">
  <div class="eight columns">
    <h3>Local Clubs</h3>

    <table class="full">
      <thead>
        <tr>
          <th>Club</th>
          <th>Schedule</th>
          <th>M</th>
          <th>P</th>
          <th>A</th>
        </tr>
      </thead>
      <tbody>
        {% for post in site.posts reversed %}
          <tr>
            <td><a href="{{ post.url }}">{{ post.title }}</a></td>
            <td>{{ post.schedule }}</td>
            <td>{% if post.mainstream %}<img src="images/check.png" alt="Mainstream"/>{% endif %}</td>
            <td>{% if post.plus       %}<img src="images/check.png" alt="Plus"/>      {% endif %}</td>
            <td>{% if post.advanced   %}<img src="images/check.png" alt="Advanced"/>  {% endif %}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>

  <div class="four columns">
    <h4>About Square Dance</h4>
    <p>Square Dance is a challenging, high-energy activity for people of all ages. This 300-year-old folk tradition is also the official dance of nineteen US states.</p>

    <h4>Heel Cloppers</h4>
    <p>Heel Cloppers is a square dance club that danced for 50 years in the Tulsa, Oklahoma area. In 2011, we shut our doors. This site lives on as a resource for square dancers in Green Country, Northeast Oklahoma.</p>

    <h4>Other Resources</h4>
    <ul class="disc">
      <li><a href="http://www.nesquaredance.com/">Northeastern Oklahoma Square Dance Association (NEOSDA)</a></li>
      <li><a href="http://squaredanceassociationofgreencountry.com/">Square Dance Association of Green Country</a></li>
    </ul>

    <h4>Contact</h4>
    <p>If you notice any mistakes on this site, or wish to have your club added to this list, please contact <a href="mailto:tim@timmorgan.org">tim@timmorgan.org</a>.
  </div>
</div>

<footer class="row">
  Site by <a href="http://timmorgan.org">Tim Morgan</a>. Information here is public domain
  and provided "as is", without warranty of any kind.<br/>
  Use at your own risk, e.g. <strong>call ahead before visiting one of these clubs.</strong>
</footer>
