---
layout: default
---

<div class="row">
  <p class="show-on-phones"><a href="#info">Show club info...</a></p>
  <div id="map_canvas"></div>
</div>

<div class="row" id="info">
  <div class="eight columns">
    <h1>{{ page.title }}</h1>

    <div class="club-info">
      <p>
        {% unless page.caller contains 'Caller' %}Caller{% if page.caller contains '&amp;' %}s{% endif %}:{% endunless %}
        {{ page.caller }}
      </p>
      <p>
        {{ page.schedule }}
      </p>
    </div>

    <p>
      {% if page.location %}{{ page.location }}<br/>{% endif %}
      <a href="http://maps.google.com/maps?q={{ page.address }}" id="address-link">{{ page.address }}</a>
    </p>

    {% if page.directions %}
      <p>{{ page.directions }}</p>
    {% endif %}

    {% if page.contact %}
      <p>Contact: {{ page.contact }}</p>
    {% endif %}

    {% if page.website %}
      <p><a href="{{ page.website }}">Website</a></p>
    {% endif %}

    {{ page.content }}
  </div>
  <div class="four columns">
    <table class="full">
      <tr>
        <td>Mainstream:</td>
        <td>{% if page.mainstream %}<img src="/images/check.png" alt="Mainstream"/>{% endif %}</td>
      </tr>
      <tr>
        <td>Plus:</td>
        <td>{% if page.plus %}<img src="/images/check.png" alt="Plus"/>{% endif %}</td>
      </tr>
      <tr>
        <td>Advanced:</td>
        <td>{% if page.advanced %}<img src="/images/check.png" alt="Advanced"/>{% endif %}</td>
      </tr>
      <tr>
        <td>Rounds:</td>
        <td>{% if page.rounds %}<img src="/images/check.png" alt="Rounds"/>{% endif %}</td>
      </tr>
    </table>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    mapInit({{ page.lat }}, {{ page.lng }}, 12);
    placeClub({name:     "{{ page.title }}",
               lat:       {{ page.lat }},
               lng:       {{ page.lng }},
               location: "{{ page.location }}",
               url:      "{{ page.url }}",
               schedule: "{{ page.schedule }}"});
    drawMapMarkers();
    $('#address-link').attr('href', 'http://maps.google.com/maps?q=' + encodeURIComponent("{{ page.address }}"));
  });
</script>
