<!DOCTYPE html>

<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8" />

    <!-- Set the viewport width to device width for mobile -->
    <meta name="viewport" content="width=device-width" />

    <title>
      HeelCloppers.com -
      {% if page.title %}
        {{ page.title }} -
      {% endif %}
      Square Dance Club Locator for {{ site.region }}
    </title>

    <!-- Included CSS Files -->
    <link rel="stylesheet" href="/stylesheets/foundation.css">
    <link rel="stylesheet" href="/stylesheets/app.css">

    <!--[if lt IE 9]>
    <link rel="stylesheet" href="/stylesheets/ie.css">
    <![endif]-->


    <!-- IE Fix for HTML5 Tags -->
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

    <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?sensor=true"></script>

    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-1286002-8']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>
  <body>

    <div class="container">

      <div class="row">
        <div class="twelve columns">
          <h2><a href="/">HeelCloppers.com</a></h2>
          <div class="hide-on-phones">
            <p>Square Dance Club Locator for {{ site.region }} (with more states coming soon!)</p>
            <hr />
          </div>
        </div>
      </div>

      {{ content }}

      <footer class="row">
        Site by <a href="http://timmorgan.org">Tim Morgan</a>. Unless otherwise noted, information here
        is public domain and provided "as is", without warranty of any kind.<br/>
        Use at your own risk, i.e. <strong>call ahead before visiting one of these clubs.</strong>
      </footer>

    </div>

    <!-- Included JS Files -->
    <script src="/javascripts/foundation.js"></script>
    <script src="/javascripts/jquery.smooth-scroll.min.js"></script>
    <script src="/javascripts/app.js?20110213"></script>
  </body>
</html>
